.container{
    width: 1800;
}
.logo .col-12{
    height: 50px;
    background-color: crimson;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header .trai{
    width: 69.5%;
}
.header .phai{
    width: 29%;
}
.header .phai .row .col-12{
    background-color: blueviolet;
}
.header .phai .duoi{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header .phai .duoi .duoi70{
    width: 65%;
}
.header .phai .duoi .duoi30{
    width: 25%;
}
.header .trai .tren{
    padding-right: 11px;
}
.header .trai .row .col-12{
    height: 50px;
    background-color: blueviolet;
}
.header .trai .row .col-4{
    height: 260px;
}
.header .phai .row .col-12{
    height: 50px;
    background-color: blueviolet;
}
.header .phai .duoi .duoi70 .row .col-12{
    background-color: chartreuse;
    height: 50px;
}
.header .phai .duoi .duoi30 .row .col-12{
    background-color: aqua;
    height: 50px;
}
.container .giua .col-12{
    height: 50px;
    background-color: blueviolet;
}
.col-12{
    margin-bottom: 20px;
}
.col-3{
    margin-bottom: 20px;
}
.footer .col-12{
    height: 50px;
    background-color: brown;
}
.conten{
    height: 260px;
    background-color: tomato;
}